.projects{
    width: 100%;
    height: 100vh;
    background-image: url("https://www.urbansciencemep.com/_next/static/images/project2-6173d2e661e4f2bcec88e0ceaac8f29b.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
}